#calculator_wrapper
#calinfoout {
	background-color:#EEE;
	width:275px;
}

#calculator_wrapper .calinfoinner {
	border-top:1px solid #262626;
	border-left:1px solid #262626;
	border-right:2px outset #262626;
	border-bottom:2px outset #262626;
	padding:5px;
}


#calculator_wrapper #calinfoout #enterString_wrapper {
    border: 1px solid black;
    margin: 2px;
    overflow: hidden;
    width: 257px;
}
#calculator_wrapper #calinfoout #enterString {
    background-color: #B8C6A3;
    color: #000000;
    cursor: text;
    font-family: arial,helvetica,sans-serif;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    padding: 3px;
    text-align: left;
    width: 999px;
}

#calculator_wrapper #calinfoout input,button {
	width:45px;
	height:28px;
	background-color:#FFF;
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	border:1px solid #262626;
	margin:2px;
}
#calculator_wrapper #calinfoout button:disabled {
	background-color:#bbb;
	color:#555;
	cursor:no-drop;
}
#calculator_wrapper #calinfoout button {
	cursor:pointer;
}
#calculator_wrapper #calinfoout .mode_selector {
    width: auto;
    height:auto;
}
#calculator_wrapper #modes_selector label {
    padding-right: 5px;
}

#calculator_wrapper #calinfoout #calInfoOutPut {
	width:259px;
	height: 55px;
	font-size:28px;
	cursor:text;
	text-align:right;
	background-color:#B8C6A3;
	color:#000;
	padding:3px;
}

#calculator_wrapper #calinfoout .calinfonm {
	color:#FFF;
	font-weight:700;
	background-color:#262626;
}

#calculator_wrapper #calinfoout .calinfoop {
	color:#262626;
	font-weight:700;
	background-color:#ccc;
}

#calculator_wrapper #calinfoout .calinfoeq {
	color:red;
	font-weight:700;
	background-color:#DCADB0;
}

#calculator_wrapper #calinfoout .calinfofunc {
	color:#185290;
	font-weight:700;
	background-color:#C8D8E8;
	height:23px;
	padding-bottom:1px;
}

#calculator_wrapper #scientific{
	border:0;
	padding:0;
}


#calculator_wrapper #overlay {
    background: none repeat scroll 0 0 black;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    display: none;
}


#calculator_wrapper #calculator {
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    display: none;
    height: auto;
    left: 50%;
    margin-left: -25%;
    position: absolute;
    z-index: 10;
}


#calculator_wrapper #close {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 12px;
    padding: 0 4px 5px;
    z-index: 10;
    right: 0;
    position: absolute;
}

#calculator_wrapper #calculator>table{
	position: relative;
	top: 0;		
}

#calculator_wrapper #modes_selector * {
 	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}